body {
    color: black;
    background-color: white;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 55px;
}
p {
  font-size: 30px;
}
#header {
  background-color: #b4c2dc;
  text-align: center;
  color: #393783;
}
#olympia-logo {
  width: 550px;
  float: left;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 25px;
  padding-right: 25px;
}
#msg-text {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}