@()

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/announce.min.css")">
        <title>Olympia Fencing Center Announcements</title>
    </head>
    <body>

        <div>
            <div id="header">
                <h1>OFC Announcements</h1>
            </div>
            <div id="olympia-logo">
                <img src="@routes.Assets.at("images/announce-logo.jpg")" alt="Club Logo">
            </div>
            <div id="msg-text">
                <h2><center>Welcome to the Olympia Fencing Center Open House!</center></h2>
                <p>Feel free to look around and observe.  All our fencers are very friendly and would be happy to explain what is going on, so don't be shy about asking!</p>
            </div>
        </div>

        <!--script type="text/javascript">
            var redirectURL ='/announce'; // edit this value for the next page
            var redirectDelayInSeconds = 15; // edit this value after how many seconds
            var d = redirectDelayInSeconds * 1000;
            window.setTimeout ('parent.location.replace(redirectURL)', d);
        </script-->
    </body>
</html>